/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Application Styles */
/* Global */
* {
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  max-width: 980px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
  color: #2f2e2e;
  padding: 1em 0;
  position: relative;
  padding-bottom: 90px;
}
li {
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}
li a {
  text-decoration: none;
  color: #2f2e2e;
  font-size: 1.3em;
}

/* Global Controls Styles */
a.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  height: auto;
  font-size: 15px;
  line-height: 1.6;
  padding: 11px 20px 9px 20px;
  min-width: 150px;
  background-color: #ff6600;
  color: #ffffff;
  border: 1px solid transparent;
}
a.btn:hover {
  background-color: #ffffff;
  color: #ff6600;
  border: 1px solid #ff6600;
}

/* Header */
.siteHeader {
  padding: 30px 20px 15px 20px;
}
.siteHeader h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
}


/* HN summaries */
.hnThread {
  width: 100%;
  flex-basis: 100%;
  padding: 0 10px;
  color: #ff6600;
}
.hnThread:hover {
  background-color: #ff6600;
  color: #ffffff;
}
.hnArticle {
  width: 100%;
  flex-basis: 100%;
  padding: 10px 20px;
}
.hnArticle:hover {
  color: #6b6969;
}

/* Controls */
.viewLimits {
  padding: 15px 20px 30px 20px;
}
.viewLimits, .pagination {
  display: flex;
  justify-content: space-between;
}
.pagination {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
}

/* Responsive */
@media only screen and (min-width: 768px) {
  .hnThread, .hnArticle {
    padding: 0 20px;
  }
  .hnThread {
    width: 20%;
    flex-basis: 20%;
  }
  .hnArticle {
    width: 80%;
    flex-basis: 80%;
  }
}
